a {
    overflow-wrap: break-word;
    word-wrap: break-word;
}

#footer {
    text-align: center;
}

h1 {
    text-align: center;
}

#headline {
    text-align: center;
}

.jumbotron {
    padding: 30px;
}

@media only screen and (max-width: 320px) {
  a {
    font-size: 10px;
  }
    
  .jumbotron {
    padding: 0px;
  }
}

