a {
    overflow-wrap: break-word;
    word-wrap: break-word;
}

#footer {
    text-align: center;
}

h1 {
    text-align: center;
}

#headline {
    text-align: center;
}

.img-container {
    position:relative;
    padding-top:66.59%;
}

img {
    position: relative;
    top: 0;
    left: 0;
    width:80%;
}

.jumbotron {
    padding: 30px;
}

@media only screen and (max-width: 320px) {
  a {
    font-size: 10px;
  }
    
  

 .jumbotron {
    padding: 0px;
  }
}

