a {
    color: black;
    text-decoration: underline;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

#footer {
    text-align: center;
    margin-top: 30px;
}

h1 {
    text-align: center;
}

#headline {
    text-align: center;
}

.img-container {
    position:relative;
    padding-top:66.59%;
}

img {
    position: relative;
    top: 0;
    left: 0;
    width:80%;
}

.jumbotron {
    margin-bottom: 0px;
}

p {
    margin-bottom: 0px;
}

@media only screen and (max-width: 320px) {
  a {
    font-size: 7px;
  }
    
  .col-xs-4 {
    line-height: 10px;
  }

 .jumbotron {
    padding: 0px;
  }
    
  p {
    font-size: 9px;
  }

}

